.footer {
    display: flex;
    height: 200px;
    background: #212121;
    border-top: 2.5px solid black;
    align-items: center;
    padding: 0 300px;
    box-shadow: 0 -10px 20px rgba(36, 0, 0, 0.5); /*Sombra para cima do footer. Igual a do header.*/
}

.description {
    margin-right: auto; /*Vai para ESQUERDA*/
    display: flex;
    flex-direction: column; /*Coloca objeto em cima de objeto*/
    text-align: center; /*Formata o texto no meio*/
    font-weight: 500; /*Espessura da fonte*/
}

.description p {
    margin: 4px 0; /*Remover espaço exagerado entre as frases do footer.*/
}

.footer p {
    color: #f2f0ef;
}

.footer a {
    color: lightskyblue;
    margin: 4px 0;
}

.logo {
    margin-left: auto;
}

.cpsLogo img {
    width: 160px;
    filter:
        drop-shadow(0.5px 0 0 black);
}