.info-box {
    max-width: 800px;
    margin: 20px auto;
    background: #faedcd;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.etecDentro {
    padding: 40px;
}

/* CENTRALIZAR */
.imagemCentro2 {
    display: flex;
    justify-content: center;
}

/* IMAGEM */
.imagemCentro2 img {
    width: 100%;
    max-width: 700px;
    border-radius: 15px;
}