.box-vestibulinho {
    max-width: 800px;
    margin: 40px auto;
    border: 1px solid #faedcd;
    text-align: center;
    background-color: #faedcd;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    transition: 0.3s;
    border-radius: 10px;
}

.box-vestibulinho:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 10px rgba(0,0,0,0.2);
}

.content2 {
    padding: 40px;
}

/* CENTRALIZAR */
.imagemCentro {
    display: flex;
    justify-content: center;
}

/* IMAGEM */
.imagemCentro img {
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
}